absl-py==0.7.1
astor==0.6.2
bleach==1.5.0
bokeh==0.12.15
cycler==0.10.0
decorator==4.3.0
Django==2.2.1
gast==0.2.0
grpcio==1.12.0
h5py==2.7.1
html5lib==0.9999999
Jinja2==2.10.1
Keras==2.1.6
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mock==3.0.4
networkx==2.1
numpy==1.14.2
packaging==17.1
pandas==0.23.0
protobuf==3.7.1
psycopg2==2.7.4
psycopg2-binary==2.8.2
PyMySQL==0.8.1
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==5.1
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
sklearn==0.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tornado==5.0.2
Werkzeug==0.14.1
xlrd==1.1.0
